.bookingList {
  flex-wrap: wrap;
  text-align: center;
  &__col {
    border: solid $grey 1px;
    border-radius: 5px;
    margin: 10px auto;
    color: #333;
    text-decoration: none;
    img {
      width: 300px;
      height: 200px;
    }
  }
  &__col:hover {
    cursor: pointer;
    opacity: 0.7;
  }
  &__span {
    margin: 0;
    background-color: $grey;
    padding: 5px;
  }
}
.filterEstablishments {
  background-color: $orange;
  padding: 15px;
  margin: 15px auto;
  text-align: center;
  &__label {
    margin: auto;
    color: $white;
  }
  &__input,
  &__dropdown {
    padding: 10px 10px;
    width: 70%;
    margin-left: 5px;
  }
}
