.contactInformationBox {
  &__box {
    padding: 10px;
    color: $white;
    margin: 10px auto;
    width: 60%;
    background-color: $orange;
    border: solid $orange 1px;
    border-radius: 5px;
  }
  &__headers {
    font-size: 30px;
    margin: 0;
  }
  &__link {
    display: block;
    margin-top: 5px;
    color: $white;
  }
  &__socialIcon {
    margin-top: 10px;
    padding: 5px;
  }
  &__icon {
    width: 30px;
    margin-right: 5px;
    vertical-align: middle;
  }
  &__img {
    width: 90%;
    display: block;
    height: auto;
    margin: auto;
  }
  &__img:hover,
  &__link:hover {
    background-color: $orange-hover;
  }
  @media #{$tablet} {
    &__img {
      width: 40%;
    }
  }
  @media #{$phone} {
    &__img {
      width: 70%;
    }
  }
}

@media #{$tablet}, #{$phone} {
  .contactInformationBox {
    &__box {
      width: 95%;
    }
  }
}
