.establishmentDetail {
  padding: 20px;
  &__image {
    width: 90%;
    display: block;
    margin: auto;
  }
  &__h2 {
    margin: 0 0 20px 0px;
  }
  &__button {
    width: 90%;
    padding: 10px;
    color: $white;
    background-color: $orange;
    border: 1px solid $orange;
    border-radius: 5px;
    display: block;
    margin: auto;
    text-align: center;
  }
  &__locationHeader {
    text-align: center;
  }
  &__map {
    width: 95%;
    height: 300px;
    margin: auto;
    display: block;
    border: none;
  }
  @media #{$phone}, #{$tablet} {
    padding: 20px 0 0 0;
    &__content {
      width: 90%;
      padding-top: 10px;
      margin: auto;
    }
  }
}
