.categorySection {
  background-color: $main-green;
  margin: auto;
  padding: 0 10%;
  height: 6vw;
  display: flex;
  &__buttons {
    background-color: $orange;
    color: $white;
    text-decoration: none;
    width: 25%;
    height: 100%;
    line-height: 6vw;
    margin: -3% auto;
    text-align: center;
    z-index: 1;
  }
  &__buttons:hover {
    background-color: $orange-hover;
  }
  @media #{$tablet} {
    height: 8vw;
    &__buttons {
      margin: -5% auto;
      line-height: 8vw;
    }
  }
  @media #{$phone} {
    padding: 0 3%;
    height: 10vw;
    &__buttons {
      width: 32%;
      margin: -6% auto;
      line-height: 10vw;
    }
  }
}
.iconSection {
  padding: 10px 0;
  &__h2 {
    display: block;
    text-align: center;
  }
  &__box {
    margin: 5px;
  }
  &__icon {
    margin: auto;
    width: 120px;
    height: 120px;
    img {
      width: 120px;
      height: 120px;
    }
  }
  &__h3 {
    text-align: center;
  }
  &__text {
    margin: auto auto 10px;
    width: 80%;
  }
  @media #{$tablet} {
    &__text {
      width: 50%;
      text-align: center;
    }
  }
  @media #{$phone} {
    &__text {
      width: 80%;
      text-align: center;
    }
  }
}
