/*Color variables */
$white: #fff;
$black: #000;
$grey: #e6e6e6;
$main-green: #11a7a8;
$semiDark-green: #095454;
$dark-green: #042a2a;
$orange: #f59e00;
$orange-hover: #f5b43d;
/*Media queries */

$desktop: "only screen and (min-width: 960px) and (max-width: 1620px)";
$tablet: "only screen and (min-width: 720px) and (max-width: 1240px)";
$phone: "only screen and (max-width: 720px)";
