@import "_variables";
@import "typography/_typography";
@import "layout/_grid";
@import "layout/_header";
@import "forms/_forms";
@import "forms/_adminForms";
@import "layout/_banner";
@import "layout/_modal";
@import "layout/_pagination";
@import "layout/_footer";
@import "page/_home";
@import "page/_admin";
@import "page/_booking";
@import "forms/_contactForm";
@import "page/_contact";
@import "page/_establishmentDetail";
@import "forms/_bookingForm.scss";

.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

footer {
  margin-top: auto;
}
