.contactForm {
  width: 70%;
  margin: auto;
  &__label {
    height: 30px;
  }
  &__input {
    height: 40px;
    width: 100%;
    display: block;
    padding-left: 5px;
    margin: 15px 0;
  }
  &__textarea {
    display: block;
    width: 90%;
    height: 100px;
  }
  &__btn {
    width: 91%;
    height: 40px;
    margin: 20px auto;
    background-color: $orange;
    color: $white;
    border: 1px solid $orange;
    border-radius: 5px;
  }
  @media #{$tablet}, #{$phone} {
    &__btn,
    &__textarea {
      width: 100%;
    }
  }
}
