.form {
  text-align: center;
  &__input {
    display: block;
    text-align: center;
    margin: 5px auto;
    height: 25px;
    padding: 5px;
    border: solid 1px $grey;
    border-radius: 5px;
  }
  &__submit {
    display: block;
    margin: auto;
    padding: 5px;
    background-color: $orange;
    border: 1px solid $orange;
    border-radius: 5px;
    color: $white;
  }
}
.sent {
  color: green;
}
.form-error {
  color: red;
}
