.form {
  text-align: left;
  &__input {
    margin: 5px 0;
    height: 25px;
    padding: 5px;
    border: solid 1px $grey;
    border-radius: 5px;
  }
  &__submit {
    display: block;
    margin: auto;
    width: 80%;
    padding: 5px;
    background-color: $yellow;
    border: 1px solid $yellow;
    border-radius: 5px;
    color: $white;
  }
}
