.introBannerHomePage {
  height: 600px;
}
.introBannersubSites {
  height: 300px;
}

.introBanner {
  background-image: url("../../images/home-header.jpg");
  width: 100%;
  position: relative;
  &__content {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
  }
  &__searchField {
    text-align: center;
    margin: auto;
    width: 100%;
  }
  &__h1 {
    text-align: center;
    color: $white;
  }
  .search {
    &__input {
      vertical-align: middle;
      width: 80%;
      padding: 14px 5px;
      border: $grey 1px solid;
      border-radius: 5px 0px 0px 5px;
    }
    &__button {
      padding: 10px;
      vertical-align: middle;
      background-color: $yellow;
      color: $white;
      border: $yellow 1px solid;
      border-radius: 0px 5px 5px 0px;
    }
    &__icon {
      width: 20px;
    }
    &__button:hover {
      cursor: pointer;
      opacity: 0.7;
    }
    &__result {
      background-color: $white;
      width: 85%;
      border: solid 1px $grey;
      border-radius: 0px 0px 5px 5px;
      margin: auto;
      padding: 15px;
    }
  }
}
@media #{$desktop} {
  .introBannerHomePage {
    height: 500px;
  }
  .introBanner {
    background-image: url("../../images/home-header.jpg");
  }
}
@media #{$tablet} {
  .introBannerHomePage {
    height: 400px;
  }
  .introBanner {
    background-image: url("../../images/home-header.jpg");
    &__content {
      width: 50%;
    }
  }
}
@media #{$phone} {
  .introBannerHomePage {
    height: 300px;
  }
  .introBanner {
    background-image: url("../../images/home-header.jpg");
    &__content {
      width: 90%;
    }
  }
}
