.introBannerHomePage {
  height: 600px;
  background-image: url("../../images/home-header.jpg");
}
.introBannersubSites {
  height: 300px;
  background-image: url("../../images/subsite-header.jpg");
}

.introBanner {
  width: 100%;
  position: relative;
  &__content {
    margin: 0;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    z-index: 2;
  }
  &__searchField {
    text-align: center;
    margin: auto;
    width: 100%;
  }
  &__h1 {
    text-align: center;
    color: $white;
  }
  .search {
    &__input {
      vertical-align: middle;
      width: 60%;
      padding: 14px 5px;
      border: $grey 1px solid;
      border-radius: 5px 0px 0px 5px;
    }
    &__button {
      padding: 10px;
      vertical-align: middle;
      background-color: $orange;
      color: $white;
      border: $orange 1px solid;
      border-radius: 0px 5px 5px 0px;
    }
    &__icon {
      width: 20px;
    }
    &__button:hover {
      cursor: pointer;
      background-color: $orange-hover;
    }
    &__result {
      background-color: $white;
      width: 63%;
      border: solid 1px $grey;
      border-radius: 0px 0px 5px 5px;
      margin: auto;
      padding: 0 15px;
    }
    &__links {
      display: block;
      padding: 10px;
      text-align: center;
      border-bottom: solid $grey 1px;
    }
    @media #{$phone}, #{$tablet} {
      &__input {
        width: 80%;
      }
      &__result {
        width: 84%;
      }
    }
  }
}
@media #{$desktop} {
  .introBannerHomePage {
    height: 500px;
  }
  .introBanner {
    background-image: url("../../images/home-header.jpg");
  }
}
@media #{$tablet} {
  .introBannerHomePage {
    height: 400px;
  }
  .introBanner {
    background-image: url("../../images/home-header.jpg");
    &__content {
      width: 50%;
    }
  }
}
@media #{$phone} {
  .introBannerHomePage {
    height: 300px;
  }
  .introBanner {
    background-image: url("../../images/home-header.jpg");
    &__content {
      width: 90%;
    }
  }
}
