footer {
  background-color: $semiDark-green;
  flex-shrink: 0;
  .footerContent {
    margin: auto;
    padding: 15px;
    color: $white;
    &__link {
      color: $white;
      display: block;
      margin-bottom: 5px;
      text-decoration: none;
    }
    &__link:hover {
      text-decoration: underline;
      opacity: 0.7;
    }
    &__input {
      border: solid 1px $grey;
      border-radius: 5px 0 0 5px;
      vertical-align: middle;
      padding: 8px 5px;
      width: 60%;
    }
    &__button {
      border: solid 1px $orange;
      background-color: $orange;
      color: $white;
      border-radius: 0 5px 5px 0;
      vertical-align: middle;
      padding: 7px 5px;
    }
    &__button:hover {
      background-color: $orange-hover;
    }
    @media #{$tablet}, #{$phone} {
      padding: 5px;
      &__col:nth-child(-n + 2) {
        display: none;
      }
      &__input {
        width: 30%;
      }
    }
  }
  .footerCopy {
    color: $white;
    text-align: center;
    display: block;
    background-color: $dark-green;
    padding: 25px 0;
  }
}
