header {
  width: 100%;
  height: auto;
  background-color: $main-green;
  position: absolute;
  z-index: 10;
  #Logo {
    display: inline-block;
    margin: auto;
    padding: 5px;
    color: #fff;
    width: 110px;
  }
  .hamburgerNav {
    display: none;
  }
  .topMenu {
    display: inline-block;
    margin: auto;
    text-align: right;
    &__link {
      font-size: 18px;
      padding: 10px;
      color: #fff;
      text-decoration: none;
    }
    &__link:hover {
      opacity: 0.5;
    }
    &__closeWindow {
      float: left;
    }
    &__loginBtn {
      font-size: 18px;
      background-color: $orange;
      padding: 5px;
      outline: none;
      border: 1px solid $orange;
      border-radius: 5px;
      color: #fff;
    }
    &__loginBtn:hover {
      cursor: pointer;
      background-color: $orange-hover;
    }
    &__window {
      display: block;
      position: fixed;
      right: 5%;
      width: 200px;
      height: auto;
      border: $grey solid 1px;
      padding: 10px;
      background-color: $white;
    }
    &__userStatus {
      text-align: center;
    }
    &__settingbutton {
      text-decoration: none;
      text-align: center;
      margin: 5px auto;
      display: block;
      border: none;
      background-color: $white;
    }
    &__settingbutton:hover {
      text-decoration: underline;
      cursor: pointer;
    }
    &__settingbutton:visited {
      color: inherit;
    }
  }
}
@media #{$tablet}, #{$phone} {
  header {
    position: fixed;

    #Logo {
      display: block;
      margin: auto;
    }
    .topMenu {
      display: none;
      &__link {
        display: block;
        text-align: center;
      }
      &__loginBtn {
        display: block;
        margin: auto;
      }
      &__window {
        position: absolute;
        width: 80%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, 5%);
      }
    }
    .hamburgerNav {
      position: absolute;
      width: 35px;
      height: auto;
      right: 5%;
      padding: 5px;
      margin: 10px;
      display: block;
      cursor: pointer;
      &__span {
        color: $white;
        width: 100%;
        padding: 3px 0;
        display: block;
        border-bottom: 3px solid;
      }
    }
    #Active {
      display: block;
    }
    @media #{$phone} {
      #Active {
        height: 100vmax;
      }
    }
  }
}
